<script type="text/javascript">
    RED.nodes.registerType('updat-stage', {
        category: 'aya',
        color: '#ea9999',
        defaults: {
            name: { value: "" },
            taskType: { value: "" },
            stage: { value: "" }
        },
        inputs: 1,
        outputs: 1,
        paletteLabel: "Update stage",
        icon: "alert.png",
        label: function () {
            return `${this.name}` || "Updating stage";
        },
        oneditprepare: function () {
            let postAuth = btoa("System.nestrom:2DqpP2VGGQG");
            let stageId;
            $.ajax({
                headers: {
                    "Content-Type": "application/json",
                    "Authorization": `Basic ${postAuth}`
                },
                url: "https://api.dev.fieldradar.io/workforce/api/2.3.0/taskType/find/aya",
                method: 'GET'
            }).then(function (data) {
                data.map(e=> {
                    // console.log("e",e);

                    $("#node-input-taskType").append("<option value="+ e._id + ">" + e.name.nameEn + "</option>");
                })
            });

            $("#node-input-taskType").change(function() {
            console.log("ayaaaaaaaaaaaaaaaa", $(this).val());
            
            $.ajax({
                headers: {
                    "Content-Type": "application/json",
                    "Authorization": `Basic ${postAuth}`
                },
                url: "https://api.dev.fieldradar.io/workforce/api/2.3.0/stage/search/aya?start=0&length=50&type=task&taskType=" + $(this).val(),
                method: 'GET'
            }).then(function (data) {
                console.log("daytaaaaaaaaaaa",data);
                data.data.map(e=> {
                    console.log("e",e);
                $("#node-input-stage").append("<option value="+ e._id + ">" + e.title + "</option>");
                })
            });

        })
        $("#node-input-stage").change(function() {
            console.log("ayaaaaaaaaaaaaaaaa", $(this).val());
        })
        return
        }
    });
</script>

<script type="text/html" data-template-name="updat-stage">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
    <label for="node-input-taskType">Choos type</label>

    <select  name="taskType" id="node-input-taskType">

    </select>
  </div>
  <div class="form-row">
    <label for="node-input-stage">Update stage To:</label>

    <select  name="stage" id="node-input-stage">
      <option value="">Choose a Task Type</option>
    </select>
  </div>
</script>

<script type="text/html" data-help-name="updat-stage.js">
    <p>This node updates the task's stage based on taskId, using the task type id</p>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>