<script type="text/javascript">
    RED.nodes.registerType('updat-task',{
        category: 'aya',
        color: '#D8BFD8',
        defaults: {
            name: {value:""},
            status: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "alert.png",
        label: function() {
            return `${this.name} - ${this.status}`||"open";
        }
    });
</script>

<script type="text/html" data-template-name="updat-task">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
    <label for="node-input-status">Update status To:</label>

    <select  name="status" id="node-input-status">
      <option value="open">Open</option>
      <option value="completed">Complete</option>
      <option value="pending">Pending</option>
      <option value="active">Active</option>
      <option value="overdue">Overdue</option>


    </select>
  </div>
</script>

<script type="text/html" data-help-name="updat-task.js">
    <p>This node updates the task's status based on taskId</p>
</script>