<script type="text/javascript">
    RED.nodes.registerType("create-task", {
        category: "common",
        color: "#ea9999",
        defaults: {
            name: { value: "Task Details" }, // done
            taskAddingTemplates: { value: true }, // done
            taskAllowedTemplates: { value: [] }, // done
            taskAssignedUser: { value: "" }, // done
            taskAssociatedUsers: { value: [] }, // done
            taskCriticalLevel: { value: "low" }, // 
            taskEndDate: { value: "" }, // done
            //   taskEnterprise: { value: "aya" }, // 
            taskFiles: { value: [] }, // 
            taskFolders: { value: [] }, // 
            taskName: { value: "New Task" }, // done
            taskRepeatType: { value: "assigned" }, // done
            taskReportedBy: { value: "" }, // 
            taskRequiredAtLocation: { value: false }, // 
            taskStartDate: { value: "" }, // done
            taskStatus: { value: "open" }, // 
            taskTags: { value: [] }, // 
            taskTemplates: { value: [] }, // 
            taskRequiredTemplate: { value: "" }, // 
            taskType: { value: "" }, // 
            taskDescription: { value: "<p></p>" }, // 
            taskOrganization: { value: "" }, // 
            taskLocation: { value: "" }, // 
            taskZone: { value: "" }, // 
            taskAssetId: { value: "" }, // 
            /*
            addingTemplates >>> taskAddingTemplates
            allowedTemplates >>> taskAllowedTemplates
            assignedUser >>> taskAssignedUser
            associatedUsers >>> taskAssociatedUsers
            criticalLevel >>> taskCriticalLevel
            endDate >>> taskEndDate
            enterprise >>> taskEnterprise
            files >>> taskFiles
            folders >>> taskFolders
            name >>> taskName
            repeatType >>> taskRepeatType
            reportedBy >>> taskReportedBy
            requiredAtLocation >>> taskRequiredAtLocation
            startDate >>> taskStartDate
            status >>> taskStatus
            tags >>> taskTags
            templates >>> taskTemplates
            requiredTemplate >>> taskRequiredTemplate
            taskType >>> taskType
            description >>> taskDescription
            */
            /*
                  addingTemplates: true
                  allowedTemplates: []
                  assignedUser: "61d6e8b040f1c566ad14b7ab"
                  associatedUsers: []
                  criticalLevel: "low"
                  endDate: 1641993156481
                  enterprise: "aya"
                  files: []
                  folders: []
                  name: "predefined - nodeRed"
                  repeatType: "assigned"
                  reportedBy: "61d6e8b040f1c566ad14b7ab"
                  requiredAtLocation: false
                  startDate: 1641906756486
                  status: "open"
                  tags: []
                  templates: [{templateId: "61dd534e07392402d2ab897d", isRequired: false}]
                  type: "61d6ef3740f1c566ad14b8d0"
                  */
        },
        inputs: 1,
        outputs: 1,
        paletteLabel: "Create New Task",
        icon: "arrow-in.png",
        label: function () {
            return `${this.name}` || "Task Details";
        },
        oneditprepare: function (url) {
            if ($(this).taskType) {
                $("#node-input-taskType").name = $(this).taskType
            } else {
                $("#node-input-taskType").name = "LAWESH!"
            }
            console.log("taskType",$("#node-input-taskType"));
            // function ajaxBody(params) {
            //     let postAuth = btoa("System.nestrom:2DqpP2VGGQG");
            //     let headers = {
            //         "Content-Type": "application/json",
            //         Authorization: `Basic ${postAuth}`,
            //     };
            //     let method = meth
            // }
            let postAuth = btoa("System.nestrom:2DqpP2VGGQG");
                let headers = {
                    "Content-Type": "application/json",
                    Authorization: `Basic ${postAuth}`,
                };
                let method = "GET"
            console.log("$(this)", $(this));
            $.ajax({
                headers: headers,
                url: "https://api.dev.fieldradar.io/workforce/api/2.3.0/taskType/find/aya",
                method: "GET",
            }).then(function (data) {
                data.map((e) => {
                    $("#node-input-taskType").append(
                        "<option value=" + e._id + ">" + e.name.nameEn + "</option>"
                    );
                });
            });
            $.ajax({
                headers: headers,
                url: "https://api.dev.fieldradar.io/workforce/api/2.3.0/user/search/aya",
                // + $(this).val(),
                method: "GET",
            }).then(function (data) {
                data.data.map((e) => {
                    $("#node-input-taskAssignedUser").append(
                        "<option value=" + e._id + ">" + e.name + "</option>"
                    );
                    $("#node-input-taskAssociatedUsers").append(
                        "<option value=" + e._id + ">" + e.name + "</option>"
                    );
                });
            });
            $.ajax({
                headers: headers,
                url:
                    "https://api.dev.fieldradar.io/workforce/api/2.3.0/form/search/aya", //+ $(this).val(),
                method: "GET",
            }).then(function (data) {
                data.data.map((e) => {
                    $("#node-input-taskTemplates").append(
                        "<option value=" + e._id + ">" + e.title.en + "</option>"
                    );
                });
            });
            //   });
            $("#node-input-taskRequiredTemplate").change(function () {
                console.log("the switch", $(this)[0].checked);
            })
            //   $("#node-input-taskName").change(function() {
            //        $(this).val("New Task");
            //   })
            return;
        },
    });
</script>

<script type="text/html" data-template-name="create-task">
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i>Node Name</label>
    <input type="text" id="node-input-name" placeholder="Name" />
  </div>
  <div class="form-row">
    <label for="node-input-taskName"><i class="fa fa-tag"></i>Task Name</label>
    <input type="text" id="node-input-taskName" value="New Task" placeholder="New Task" />
  </div>
  <div class="form-row">
    <label for="node-input-taskType">Task Type</label>

    <select name="taskType" id="node-input-taskType"></select>
  </div>
  <div class="form-row">
    <label for="node-input-taskAssignedUser">Assigned User</label>

    <select name="taskAssignedUser" id="node-input-taskAssignedUser"></select>
  </div>
  <div class="form-row">
    <label for="node-input-taskAssociatedUsers">Associated User</label>

    <select name="taskAssociatedUsers" id="node-input-taskAssociatedUsers"></select>
  </div>
  <div class="form-row">
    <label for="node-input-taskCriticalLevel">Critical Level</label>
    <select name="taskCriticalLevel" id="node-input-taskCriticalLevel">
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
        <option value="veryHigh">Very High</option>
        <option value="emergency">Emergency</option>
    </select>
  </div>
  <div class="form-row">
    <label for="node-input-taskStatus">Status</label>
    <select name="taskStatus" id="node-input-taskStatus">
        <option value="pending">Pending</option>
        <option value="open">Open</option>
        <option value="active">Active</option>
        <option value="overdue">Overdue</option>
        <option value="paused">Paused</option>
        <option value="canceled">Canceled</option>
        <option value="completed">Completed</option>
    </select>
  </div>
  <div class="form-row">
    <label for="node-input-taskTemplates">Template:</label>

    <select name="taskTemplates" id="node-input-taskTemplates">
      <option value="">Choose a Template</option>
    </select>
  </div>
  <div class="form-row">
    <label>Template is Required:</label>
    <label class="switch" for="node-input-taskRequiredTemplate">
      <input type="checkbox" id="node-input-taskRequiredTemplate" />
      <span class="slider round"></span>
    </label>
  </div>
  <div class="form-row">
    <label for="node-input-taskStartDate">Target Start Date:</label>
    <input type="date" name="taskStartDate" id="node-input-taskStartDate">
  </div>
  <div class="form-row">
    <label for="node-input-taskEndDate">Target End Date:</label>
    <input type="date" name="taskEndDate" id="node-input-taskEndDate">
  </div>
</script>

<script type="text/html" data-help-name="create-task.js">
  <p>This node Creates New Task</p>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>