<script type="text/javascript">
  RED.nodes.registerType("get-component", {
    category: "common",
    color: "#ea9999",
    defaults: {
      name: { value: "Task Details" },
      getType: { value: "" },

    },
    inputs: 1,
    outputs: 1,
    paletteLabel: "Get Data",
    icon: "arrow-in.png",
    label: function () {
      return `${this.name}` || "Task Details";
    },
    // oneditprepare: function (url) {
    //   let postAuth = btoa("System.nestrom:2DqpP2VGGQG");
    //   let headers = {
    //     "Content-Type": "application/json",
    //     Authorization: `Basic ${postAuth}`,
    //   };
    //   let method = "GET"
    //   // $.ajax({
    //   //   headers: headers,
    //   //   url: "https://api.dev.fieldradar.io/workforce/api/2.3.0/taskType/find/aya",
    //   //   method: "GET",
    //   // }).then(function (data) {
    //   //   data.map((e) => {
    //   //     $("#node-input-taskType").append(
    //   //       "<option value=" + e._id + ">" + e.name.nameEn + "</option>"
    //   //     );
    //   //   });
    //   // });
    //   return;
    // },
  });
</script>

<script type="text/html" data-template-name="get-component">
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i>Node Name</label>
    <input type="text" id="node-input-name" placeholder="Name" />
  </div>
  <div class="form-row">
    <label for="node-input-getType">Task Type</label>
    <select name="getType" id="node-input-getType">
      <option value="task">Get task by taskID</option>
       
    </select>
  </div>
</script>

<script type="text/html" data-help-name="get-component.js">
  <p>This node Creates New Task</p>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>